#carousel-print {
    display: flex;
}

#carousel-print img {
    width: 50%;
}

#carousel {
    display: none;
}

section#intro p {
    margin: 0;
    width: 100%;
}

div#video {
    display: none;
}

#aside-div aside {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    float: none;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border: #080404 1px solid;
    page-break-after: always;
    border: 3px black solid;
}

header {
    display: none;
}

footer {
    display: none;
}

h1, h2, a {
    text-shadow: none;
    color: black;
}

img {
    width: 50%;
}
table {
    border: 0px solid;
    width: 40%;
    text-align: center;
}


input[type=text], input[type=email] {
    border: 2px solid black;
    border-radius: 5px;
}